* , *::before, *::after { 
  box-sizing: border-box; 
}

html, body { 
  height: 100%; 
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-width: 800px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(0 0 0 / .45);
  z-index: 1;
}

.page__video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
}

.page__title {
  position: relative;
  z-index: 2;
  color: #ffffff;
  font-family: sans-serif;
  cursor: pointer;
}

.page__title-star::after {
  content: "★";
  margin-left: 8px;
  color: #d8ff55;
}

.page__title:hover::after {
  content: "Подсказка\AПоявляется при наведении";
  white-space: pre;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  padding: 16px;
  background: #d8ff55;
  color: #171717;
  font-size: 14px;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
